.mat-dialog-content {
    width: 450px;
}

.example-container {
    width: 450px;
}

.mat-form-field {
    width: 450px;
}

@media screen and (max-width: 768px) {
    .mat-dialog-content {
        width: 250px;
    }
    .example-container {
        width: 200px;
        text-align: center;
    }
    .mat-form-field {
        width: 250px;
    }
}