@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar.mat-toolbar.mat-primary.ng-tns-c37-0.mat-toolbar-single-row {
    justify-content: center;
}

button.mat-focus-indicator.mat-button.mat-button-base {
    margin-left: 1em;
}